@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
body {
  background-image: linear-gradient(to right, #6b39ac, #5778ab);
  color: white;
  font-family: "Open Sans", sans-serif;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
